    @section scripts{
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/Scripts/angular-resource.js"></script>
        <script src="~/Scripts/angular-animate.js"></script>
        <script src="~/Scripts/ngClient/Scripts/ProductsConfig.js"></script>
        <script src="~/Scripts/ngClient/Scripts/ProductsService.js"></script>
        <script src="~/Scripts/ngClient/Scripts/ProductsController.js"></script>
    }

    <div ng-app="ngProducts">

        <ng-view></ng-view>

    </div>