<div ng-controller="DetailsController" class="container">
        
    <div class="span12">
        <h2>{{Product.ProductName}}</h2>
    </div>
    <div class="span6">
        <hr />
        <div>Quantity / Unit: {{Product.QuantityPerUnit}}</div>
        <div>Unit Price: {{Product.UnitPrice}}</div>
        <button class="btn" ng-click="edit()">Edit</button>
    </div>    
    <div class="span6">
        <div>
            <div ng-include="'/Scripts/ngClient/views/edit.html'"></div>
        </div>
    </div>
</div>